.container {
    border: 1px solid brown;
    background-color: yellow;
    height: 700px;
    width: 600px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;

    /* main axis k liye justify content */
    /* justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */

    /* cross axis k liye align item */
    /* align-items: start;
    align-items: end;
    align-items: center;
    align-items: stretch; */

    /* align content rows k beech ki spaces manage krta h */
    /* align-content: space-between; */

    /* place-content justify-content: center; align-content:center k equal hota h  and flex box m justify content and align itemkrte the center k rliye*/
    /* place-content: center; */

    /* justify-items: center;
    align-items: center;
    replaced by placed item */
    place-items: center;

}

.box {
    border: 1px solid red;
    background-color: aqua;
}

#box1 {
    /* justify-self: start;
    justify-self: end; */
    /* align-self: center; */
}